body {
    padding-top: 50px;
}

.greeting {
    padding: 40px 15px;
    text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
    margin:auto;
}
