/* Word counts */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

/* Englishness */

.arc path {
    stroke: #fff;
}

/* Lexical Novelty */

#novelty {
    padding-left: 30px;
}
