.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 11px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#mp2 {
    margin-top: -50px;
}

#mp2 > svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
